{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <main role="main" class="container">
      <div class="row">
          <div class="col-md-3 mb-3 mt-1">
              <div class="card">
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <div class="h3">
                                  Технологии
                              </div>
                          </li>
                          <li class="list-group-item">
                              <div class="h6 text-muted">
                                  <p>Здесь можно узнать о технологиях применяемых в проекте</p>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-9">
              <div class="card-body">
                  <div class="card-text">
                      <p>Python (В русском языке распространено название пито́н или, более правильно, па́йтон) — высокоуровневый язык программирования общего назначения, ориентированный на повышение производительности разработчика и читаемости кода. Синтаксис ядра Python минималистичен. В то же время стандартная библиотека включает большой набор полезных функций.</p>
                      <p>HTML (от англ. HyperText Markup Language — «язык гипертекстовой разметки») — стандартизированный язык разметки веб-страниц во Всемирной паутине. Код HTML интерпретируется браузерами; полученная в результате интерпретации страница отображается на экране монитора компьютера или мобильного устройства.</p>
                      <p>Django — свободный фреймворк для веб-приложений на языке Python, использующий шаблон проектирования. Проект поддерживается организацией Django Software Foundation.</p>
                  </div>
              </div>
          </div>
      </div>
  </main>
{% endblock %}
