{% extends "base.html" %}
{% block title %}Профайл {{ author.get_full_name }}{% endblock %}
{% block header %}Профайл{% endblock %}
{% block content %}

    <main role="main" class="container">
        <div class="row">

            {% include "includes/left_block.html" %}

            <div class="col-md-9">

                {% for post in page %}
                    {% include "includes/post_card.html" %}
                {% endfor %}

                {% if paginator.num_pages > 1 %}
                    {% include "includes/paginator.html" %}
                {% endif %}

             </div>
        </div>
    </main>

{% endblock %}